*{
    background-color: gray;
    
}
h2{
    display: flex;justify-content: center;align-items: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;
}
.contract{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: firebrick;
    border: 2px solid black;
    padding :25px;
    background-color: aliceblue;
    margin-top: 20vh;
    border-radius: 5px;
}
div.Box{
    border: 2px solid black;
    display: flex;
    border-radius: 5px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    font-weight: 900;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
button{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
}